@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
@font-face {
  font-family: Dzimaa;
  src: url(font/dzimaa.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: url(images/hero_4.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}
.header {
  position: relative;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #79aeb1;
}
.title {
  font-size: 70px;
  text-align: center;
  font-family: Dzimaa;
  color: #f7f9fc;
  text-shadow: 3px 3px 3px black;
}

.menu-main {
  margin-bottom: 5px;
  display: flex;
  list-style: none;
  text-align: center;
  background: #79aeb1;
}
.menu-main li {
  display: inline-block;
}
.menu-main li:after {
  content: "|";
  color: #000000;
  display: inline-block;
  vertical-align: top;
}
.menu-main li:last-child:after {
  content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: "Ubuntu Condensed", sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 7px;
  margin: 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.menu-main a,
.menu-main a:visited {
  color: #000000;
}
.menu-main a.current,
.menu-main a:hover {
  color: #000000;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #000000;
  transition: 0.8s;
}
.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}
.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#logo {
  position: absolute;
  top: 0px;
  left: 50px;
  text-shadow: 3px 3px 3px #00c27c;
  color: #f7f9fc;
  font-size: 40px;
  letter-spacing: -3px;
}

.content {
  padding: 30px;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  background-color: #79aeb1;
  padding-block: 20px;
  opacity: 0.95;
}
@media (max-width: 550px) {
  .menu-main {
    padding-top: 0;
  }
  .menu-main li {
    display: block;
  }
  .menu-main li:after {
    content: none;
  }
  .menu-main a {
    padding: 20px 0;
    margin: 0 30px;
  }
}

.operation__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 30px;
  transition: opacity 0.2s linear;
  color: #2e3347;
}
.operation__link:hover,
.operation__delete:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.carta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  margin-right: 50px;
}
.carta__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.center {
  display: flex;
  height: 400px;
  width: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
 background: rgba(131, 234, 241, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(131, 234, 241, 0.3);
}
p {
  font-size: 40px;
  font-weight: 500;
  font-family: Dzimaa;
  color: #000000;
  text-align: center;
}
