.join-buttn {
    margin-right: 0 !important;
}

.join-buttn-last {
    margin-left: 0 !important;
}

.join-btn:hover {}

.join-input {
    padding-left: 10px;
}

.join-button{
    transition: all ease .3s;

}

.join-button:hover {
    background-color: #19adb8 !important;

}
